.calendarContainer {
	width: 70%;
	/* border: 1px solid #acbae5;
	border-radius: 10px;
	padding: 5px; */
}

.calendar {
	height: 20%;
}

.calendar .header {
	width: 100%;
	height: 7%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
}

.col-start {
	font-weight: bold;
}

.calendar .header .col .col-first {
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-left: 1%;
}

.calendar .header .col-first .text {
	font-size: 0.8em;
}

.calendar .header .col-first .month {
	margin-right: 5px;
	font-size: 1.6em;
	font-weight: 600;
}

.calendar .header .col .col-end {
	width: 20%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: baseline;
	/* content */
}

.calendar .days {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-weight: 600;
	font-size: 0.65em;
	padding: 2px;
	color: gray;
	margin-top: 20px;
}

.calendar .days .col {
	width: 12.9%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	padding-left: 1%;
	border-radius: 10px;
}

.calendar .body {
	width: 100%;
	height: 89%;

}

.calendar .body .row {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.calendar .body .row .col {
	width: 13.5%;
	height: 93%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	border: 0.4px solid transparent(gray, 0.4);
	border-radius: 3px;
	font-size: 0.8em;
}

.calendar .body .row .col span {
	margin: 4px 0 0 4px;
}


.calendar .body .row .col .cell .valid :hover {
	cursor: pointer;
	transition: 0.2s ease-in-out;
	transform: scale(1.01);
	border: none;
		
}

.calendar .body .row .col .cell .selected {
	
	transform: scale(1.02);
	border: none;
	color: pink;
	font-weight: 600;
}

	
.schedule {
	width: 100%;
	display: block;
	border: none;
	background-color: #acbae5;
	border-radius: 5px;
}

.major {
	background-color: #809fff;
}
