.container {
	width: 70%;
}

.writeTable {
	width: 80%;
	font-size: 1.1rem;
	border: 1px solid #bbb;
	padding: 0.2em;
	border-radius: 7px;
	border-spacing: 0.2em;
}

.writeRow {
	padding: 50px;
}

.writeType {
	background-color: #ededed;
	border-radius: 7px;
	text-align: center;
	padding-right: 0.7em;
	font-style: bold;
}

.inputWindow {
	width: 95%;
	height: 100%;
	border-radius: 7px;
	padding: 0.5em;
	border: 1px solid #bbb;
}

.writearea {
	height: 200px;
}

.fileInput {
	width: 95%;
	height: 100%;
	border-radius: 7px;
	padding: 0.5em;
}