.container {
	width: 70%;
}

.tit {
	border-bottom: 1px solid #bbb;
	display: inline-block;
	width: 70%;
	padding-bottom: 10px;
	margin-bottom: 5px;
}

.btn {
	width: flex;
	height: flex;
	padding: 6px;
	color: white;
	font-size: 14px;
	float: right;
	align-items: center;
	justify-content: center;
	background-color: #9285f9;
	border: 0;
	border-radius: 10px;
	margin-left: 3px;
	cursor: pointer;
}

.infos {
	width: 70%;
	position: relative;
}

.name {
	color: gray;
}

.date {
	color: gray;
	position: absolute;
	right: 0;
}

.btnContainer {
	width: 70%;
}

.dlbtn {
	display: block;
	margin: 3em auto;
	width: 150px;
	height: 40px;
	border-radius: 10px;
	background-color: #3928c0;
	color: white;
	border: none;
	cursor: pointer;
}