@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400');
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
* {
	/* font-family: "Nanum Gothic", sans-serif; */
	font-family: "Noto Sans KR", sans-serif;
}
.app {
	/* margin-top: 5vh;
	margin-bottom: 5vh;
	margin: 5vh 5vw; */
	margin: 0;
  padding: 0;
	height: 90vh;
	
}

a {
	text-decoration: none;
	color: black;
}

textarea {
	resize: none;
}