/* .login-page {
	display: flex;
	flex-direction: row;	
	height: 100%;
	margin-top: 5vh;
}

.logo-container {
	height: 100%;
	flex: 0.5;
	border-right: 1px solid black;
	text-align: center;
}

.login-container {
	height: 100%;
	flex: 0.5;
} */